<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> blockquote and audio</title>
  </head>
  <body>
    <blockquote cite="https://vi.wikipedia.org/wiki/Napol%C3%A9on_Bonaparte">Với đế hiệu Napoléon I, ông là Hoàng đế của người Pháp từ năm 1804 đến năm 1815. Cuộc cải cách pháp luật của ông, Bộ luật Napoléon, đã có những ảnh hưởng lớn lên nhiều bộ luật dân sự trên toàn thế giới, nhưng ông được nhớ đến nhất bởi vai trò của mình trong các cuộc chiến tranh mà Pháp phải đương đầu với hàng loạt liên minh, được gọi là các cuộc chiến tranh Napoléon. Ông đã thiết lập quyền bá chủ trên phần lớn lục địa châu Âu và tìm cách truyền bá những lý tưởng của cách mạng Pháp.</blockquote>

    <iframe scrolling="no" width="640" height="180" src="https://mp3.zing.vn/embed/song/ZW79ZBE8?start=true" frameborder="0" allowfullscreen="true"></iframe>


<audio controls src="../static/audios/11.mp3">

</audio>


  </body>
</html>
