<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The New Yorker</title>
  </head>
  <body>

        <img src="../static/images/logo.svg">
        <ul>
          <li><a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">News</a></li>
          <li><a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Culture</a></li>
          <li><a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Books</a></li>
          <li><a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Humor</a></li>
        </ul>
  <span><a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Books</a></span><br />
  <span><a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">November 27,2017, Issue</a></span>
  <h3>What Mary Oliver's Critics Don't Understand</h3>
  <h2>For America's most beloved poet, paying attention to nature is a springboard to the sacred.</h2>
  <p>By <a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">RuthFranklin </a> </p>
  <ul>
    <li> <img src="../static/images/facebook.svg"> </li>
    <li> <img src="../static/images/twitter.svg"> </li>
    <li> <img src="../static/images/email.svg"> </li>
    <li> </li>
    </ul>

    <blockquote cite="https://www.newyorker.com/magazine/2017/11/27/what-mary-olivers-critics-dont-understand">
      <img src="../static/images/img.jpg" width="700" height="800">
      <p>Oliver uses nature as a springboard to the sacred—the beating heart of her work.</p>
      <p><small>Illustration by Deanna Halsall</small></p>
    </blockquote>
    <p>"Mary Oliver is saving my life,"" Paul Chowder, the title character of Nicholson Baker’s novel ""<a href="https://www.amazon.com/dp/1416572457/?tag=thneyo0f-20">The Anthologist</a>,"scrawls in the margins of Oliver’s “<a href="https://www.amazon.com/dp/0807068772/?tag=thneyo0f-20">New and Selected Poems, Volume One.</a>” A struggling poet, Chowder is suffering from a severe case of writer’s block. His girlfriend, with whom he’s lived for eight years, has just left him, ostensibly because he has been unable to write the long-overdue introduction to a poetry anthology that he has been putting together. For solace and inspiration, he turns to poets who have been his touchstones—Louise Bogan, Theodore Roethke, Sara Teasdale—before discovering Oliver. In her work, he finds consolation: “I immediately felt more sure of what I was doing.” Of her poems, he says, “They’re very simple. And yet each has something.”</p>
    <blockquote cite="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">
      <p>I don’t know exactly what a prayer is.<br />
        I do know how to pay attention, how to fall down <br />
        into the grass, how to kneel down in the grass,<br />
        how to be idle and blessed, how to stroll through the fields,<br />
        which is what I have been doing all day.</p>
    </blockquote>
    <p>The cadences are almost Biblical. “Attention is the beginning of devotion,” she urges elsewhere.</p>
    <p>This article appears in the print edition of the November 27, 2017, issue, with the headline “The Art of Paying Attention.”</p>
    <h3>Most Popular</h3>
    <ol>
      <li>
        <p>Letter from Washington</p>
        <p><small><b><a href="#">The Danger of President Pence</a></b></small></p>
        <p>By <a href="#">Jane Mayer</a> </p>
      </li>
      <li>
        <p>Our Columnists</p>
        <p><small><b><a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">No End in Sight to the Brexit Madness</a></b></small></p>
        <p>By <a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">John Cassidy</a> </p>
      </li>
      <li>
        <p>Satire from The Borowitz Report</p>
        <p><small><b><a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Mueller Rents Giant Warehouse to Store Evidence Against Trump</a></b></small></p>
        <p>By <a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Andy Borowitz</a> </p>
      </li>
    </ol>
    <p>Daily Cartoon</p>
    <h2> <a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Daily Cartoon: Friday, November 24th</a> </h2>
    <h3>Forgetting the garnish,</h3>
    <p>By <a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Liana Finck</a> </p>
    <p>Nov.24, 2017 <br />Elements</p>

    <h2> <a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">At Berkeley, a New Generation of Ethical Hackers Learns the Do's and Don'ts of Cyhersecurity</a> </h2>
    <h3>How long would it take a junior computer -science major to disrupt an election?</h3>
    <p>By <a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Anna Wiener</a> </p>
    <p>Nov.24, 2017 </p>
    <p><b><a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Listen to The New Yorker Radio Hour</a></b> </p>
    <p><b> <a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Buy the Cover</a></b> </p>
    <p><b> <a href="https://www.newyorker.com/magazine/2017/10/23/the-danger-of-president-pence">Play the Jigsaw Puzzle</a></b> </p>
  </body>
</html>
